:host {
    --height: 32px;
    --width: auto;
    --gap: 4px;
    --background-color: var(--color-white);
    --border-radius: 6px;
    --color-label: var(--color-dark);
}

.border-group-child {
    display: inline-flex;
    align-items: center;
    gap: var(--gap);

    background: var(--background-color);
    border: none;
	outline: none;

    cursor: pointer;

    &.first &__container {
        --border-radius-container: var(--border-radius) 0 0 var(--border-radius);
    }
    &.middle &__container {
        --border-radius-container: 0;
    }
    &.last &__container {
        --border-radius-container: 0 var(--border-radius) var(--border-radius) 0;
    }
    &.single &__container {
        --border-radius-container: var(--border-radius);
    }
    &.middle,
    &.last {
        margin-left: calc(0px - var(--border-width));
    }

    &__content-container {
		display: flex;
		align-items: center;
		gap: 4px;

		padding: 0 8px;
		height: var(--height);
	}

    &__icon {
        --icon-size: 16px;

        color: var(--color-dark);
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--color-label);
    }
}
