:host {
    --height: 32px;
    --width: auto;
    --border-radius: 6px;
    --color-label: var(--color-dark);
}

.button {
    background: none;
    border: none;
    border-radius: 0;

    cursor: pointer;

    user-select: none;

    &.sm {
        --height: 28px;
    }
    &.md {
        --height: 32px;
    }
    &.lg {
        --height: 40px;
    }

    &__container {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        padding: 0 8px;

        height: var(--height);

        border-radius: var(--border-radius);

        transition: background 0.2s ease;
    }

    &.transparent {
        &:hover:not(:disabled) {
            .button__icon,
            .button__text {
                color: var(--color-dark);
            }
        }

        .button__container {
            background: transparent;
        }

        .button__icon,
        .button__text {
            color: var(--color-light);
        }
    }

    &.primary {
        &:hover:not(:disabled) {
            .button__container {
                background: var(--color-dark-hover);
            }
        }

        .button__container {
            background: var(--color-dark);
        }

        .button__icon,
        .button__text {
            color: var(--color-white);
        }
    }

    &.disabled,
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &__icon {
        width: 16px;
        height: 16px;

        transition: color 0.2s ease;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        transition: color 0.2s ease;
    }
}
