<button
    type="button"
    class="button"
    [ngClass]="[size()]"
    [class.primary]="variant() === 'primary'"
    [class.white-bordered]="variant() === 'white-bordered'"
    [class.transparent]="variant() === 'transparent'"
    [class.disabled]="disabled()"
    [disabled]="disabled()"
    (click)="onClick()"
>
    @if (variant() === 'white-bordered') {
        <app-bordered-container withHoverMode class="button__bordered-container">
            <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </app-bordered-container>
    }

    @if (variant() !== 'white-bordered') {
        <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
    }
</button>

<ng-template #buttonContent>
    <span class="button__container">
        @if (icon() && iconPosition() === 'left') {
            <app-icon [name]="icon()!" class="button__icon" />
        }
        @if (text()) {
            <span class="button__text">{{ text() }}</span>
        }
        @if (icon() && iconPosition() === 'right') {
            <app-icon [name]="icon()!" class="button__icon" />
        }
    </span>
</ng-template>