<button
    type="button"
    class="button"
    [ngClass]="[variant(), size(), className()]"
    [class.disabled]="disabled()"
    [disabled]="disabled()"
    (click)="onClick()"
>
    @if (variant() === 'white-bordered') {
    <app-border-group>
        @if (icon() && iconPosition() === 'left') {
        <app-border-group-child [icon]="icon()" />
        } @if (text()) {
        <app-border-group-child [text]="text()" />
        } @if (icon() && iconPosition() === 'right') {
        <app-border-group-child [text]="icon()" />
        }
    </app-border-group>
    } @if (variant() === 'primary' || variant() ===
    'transparent') {
    <div class="button__container">
        @if (icon() && iconPosition() === 'left') {
        <app-icon
            [name]="icon()!"
            class="button__icon"
        ></app-icon>
        } @if (text()) {
        <p class="button__text">{{ text() }}</p>
        } @if (icon() && iconPosition() === 'right') {
        <app-icon
            [name]="icon()!"
            class="button__icon"
        ></app-icon>
        }
    </div>
    }
</button>
