<div class="filter-modal-form__group">
    <p class="filter-modal-form__group-label">Приоритет</p>
    <div class="filter-modal-form__group-container">
        <app-badge
            iconName="flag"
            colorScheme="green"
            withToggle
        ></app-badge>
        <app-badge
            iconName="flag"
            colorScheme="yellow"
            withToggle
        ></app-badge>
        <app-badge
            iconName="flag"
            colorScheme="red"
            withToggle
        ></app-badge>
        <app-badge
            iconName="flag"
            colorScheme="gray"
            withToggle
        ></app-badge>
    </div>
</div>
