<div class="modal">
    <div class="modal__header">
        @if (modalConfig()?.title) {
            <h2 class="modal__title">
                {{ modalConfig()?.title }}
            </h2>
        }
        <app-button
            variant="transparent"
            icon="cross"
            class="modal__closebutton"
            (click)="close()"
        ></app-button>
    </div>

    <div class="modal__content">
        <ng-container #dynamicContent></ng-container>

        <ng-content></ng-content>
    </div>

    @if (modalConfig()?.actions) {
        <div class="modal__footer">
            @for (
                action of modalConfig()?.actions;
                track action.text
            ) {
                <app-button
                    [variant]="action.variant"
                    [text]="action.text"
                    [disabled]="action.disabled"
                    (click)="onActionClick(action)"
                ></app-button>
            }
        </div>
    }
</div>
