.filter-modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;

    &__group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        width: 100%;

        &-row {
            display: flex;
            gap: 16px;

            width: 100%;
        }

        &-label {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: var(--color-light);
        }

        &-container {
            display: flex;
            gap: 8px;
        }
    }
}
