.menu {
    display: flex;
    flex-direction: column;
    outline: none;

    &-container {
        overflow: hidden;

        background: var(--color-white);
        border: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--color-border);
        border-radius: 6px;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 8px;

        height: 32px;

        padding: 0 16px;

        background: none;
        border: none;

        text-align: left;
        cursor: pointer;
        white-space: nowrap;

        &:hover:not(:disabled) {
            background: #f0f0f0;
        }

        &:disabled {
            opacity: 0.5;
            cursor: default;
        }

        &-icon {
            font-size: 18px;
            width: 20px;
            text-align: center;
        }

        &-label {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: var(--color-dark);
        }
    }

    &-separator {
        margin: 0;

        border: none;
        border-top: var(--border-style);
        border-color: var(--color-border);
    }
}
