.task-card {
    display: flex;
    flex-direction: column;

	max-width: 360px;

    background: var(--color-white);
    border-radius: 8px;
    border: var(--border-width) solid var(--color-border);

    cursor: pointer;
    transition: border-color 0.2s ease;

    &.completed {
        border-color: var(--color-done);

        .task-card__footer {
            border-color: var(--color-done);
        }
    }

    &:hover {
        border-color: var(--color-border-hover);

        .task-card__footer {
            border-color: var(--color-border-hover);
        }

        &.completed {
            border-color: var(--color-done-hover);

            .task-card__footer {
                border-color: var(--color-done-hover);
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 8px;

        padding: 12px 12px 8px 12px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: var(--color-dark);

        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            & > span {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    &__drag {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        cursor: pointer;

        &:hover {
            .task-card__drag-icon {
                --icon-color: var(--color-border-hover);
            }
        }

        &-icon {
            --icon-color: var(--color-border);

            transition: color 0.2s ease;
        }
    }

    &__description {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-light);
    }

    &__tags {
        display: flex;
        gap: 8px;
    }

    &__footer {
        display: flex;
        gap: 8px;

        padding: 8px 12px;

        border-top: var(--border-width) solid var(--color-border);

        transition: border-color 0.2s ease;
    }

    &:not(:has(.task-card__footer)) {
        .task-card__main {
            padding: 12px;
        }
    }

    &__meta {
        display: flex;
        gap: 4px;

        &-icon {
            --icon-color: var(--color-light);
        }

        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: var(--color-light);
        }
    }
}