<app-border-group hoverMode="individual-hover">
    <app-border-group-child text="Фильтры" />
</app-border-group>
<app-border-group hoverMode="group-hover">
    <app-border-group-child text="Фильтры" />
</app-border-group>
<app-border-group hoverMode="individual-hover" direction="vertical">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" icon="plus" />
    <app-border-group-child icon="cross" />
</app-border-group>
<app-border-group hoverMode="individual-hover">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" icon="plus" />
    <app-border-group-child icon="cross" />
</app-border-group>
<app-border-group hoverMode="group-hover" direction="vertical">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" />
    <app-border-group-child icon="cross" />
</app-border-group>
<app-border-group hoverMode="group-hover">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" />
    <app-border-group-child icon="cross" />
</app-border-group>
<app-border-group hoverMode="group-hover" direction="vertical">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" disableHoverMode />
    <app-border-group-child icon="cross" />
</app-border-group>