<app-border-group hoverMode="individual-hover">
    <app-border-group-child text="Фильтры" />
</app-border-group>
<app-border-group hoverMode="group-hover">
    <app-border-group-child text="Фильтры" />
</app-border-group>
<app-border-group hoverMode="individual-hover">
    <app-border-group-child text="Фильтры" (click)="openMenu($event)" />
    <app-border-group-child
        text="Фильтры"
        icon="plus"
        (click)="onClickModal()"
    />
    <app-border-group-child icon="cross" />
</app-border-group>
<app-border-group hoverMode="group-hover">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" />
    <app-border-group-child icon="cross" />
</app-border-group>
<app-border-group hoverMode="group-hover">
    <app-border-group-child text="Фильтры" />
    <app-border-group-child text="Фильтры" disableHoverMode />
    <app-border-group-child icon="cross" />
</app-border-group>

Бэйджи в дефолтном состоянии
<app-badge text="Лейбл" iconName="cross" colorScheme="blue" />
<app-badge text="Лейбл" iconName="cross" colorScheme="red" />
<app-badge text="Лейбл" iconName="cross" colorScheme="gray" />
<app-badge text="Лейбл" iconName="cross" colorScheme="yellow" />
<app-badge text="Лейбл" iconName="cross" colorScheme="orange" />
<app-badge text="Лейбл" iconName="cross" colorScheme="purple" />
<app-badge text="Лейбл" iconName="cross" colorScheme="done" />

Бэйджи с переключателем
<app-badge
    text="Лейбл"
    iconName="cross"
    colorScheme="blue"
    withToggle
    [(isActive)]="bageState"
/>
<app-badge
    text="Лейбл"
    colorScheme="red"
    withToggle
    [(isActive)]="bageState"
/>
<app-badge
    iconName="cross"
    colorScheme="gray"
    withToggle
    [(isActive)]="bageState"
/>
<app-badge
    text="Лейбл"
    iconName="cross"
    colorScheme="yellow"
    withToggle
    [(isActive)]="bageState"
/>
<app-badge
    text="Лейбл"
    iconName="cross"
    colorScheme="orange"
    withToggle
    [(isActive)]="bageState"
/>
<app-badge
    text="Лейбл"
    iconName="cross"
    colorScheme="purple"
    withToggle
    [(isActive)]="bageState"
/>
<app-badge
    text="Лейбл"
    iconName="cross"
    colorScheme="done"
    withToggle
    [(isActive)]="bageState"
/>

Бэйдж с кастомным цветом
<app-badge text="Лейбл" iconName="cross" colorScheme="custom" withToggle />
