.task-board {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;

    &__filter-row {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        &-leftside {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        &-rightside {
            display: flex;
            gap: 8px;
        }
    }

	&__board {
		display: flex;
		gap: 16px;
	}
}
