<div class="task-board">
    <div class="task-board__filter-row">
        <div class="task-board__filter-row-leftside">
            <app-button icon="plus"></app-button>
            <span class="divider"></span>
            <app-filter filterModalTitle="Фильтры"></app-filter>
        </div>
        <div class="task-board__filter-row-rightside">
            <app-input></app-input>
            <app-button color="primary" icon="plus"></app-button>
        </div>
    </div>
    <div class="task-board__board">
        @for (group of groups; track group.id) {
        <app-task-group [group]="group"></app-task-group>
        }
    </div>
</div>
