:host {
    --width: auto;
    --height: 24px;
    --border-radius: 4px;
    --default-primary-color: #444;
    --hovered-primary-color: #000;
    --default-secondary-color: #999;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    padding: 0 4px;

    height: var(--height);
    width: var(--width);

    background: var(--default-secondary-color);
    border: var(--border-width) solid var(--default-primary-color);
    border-radius: var(--border-radius);

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        opacity 0.2s ease;

    &.toggleable {
        cursor: pointer;

        &.active {
            background: var(--default-secondary-color);

            &:hover {
                border-color: var(--hovered-primary-color);

                .badge__icon,
                .badge__text {
                    color: var(--hovered-primary-color);
                }
            }
        }

        &:not(.active) {
            background: none;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &.gray {
        --default-primary-color: var(--token-gray-1);
        --hovered-primary-color: var(--token-gray-2);
        --default-secondary-color: var(--token-light-1);
    }
    &.green {
        --default-primary-color: #9ed3b0;
        --hovered-primary-color: #8ebe9e;
        --default-secondary-color: #d9f9e4;
    }
    &.blue {
        --default-primary-color: #7bc3f5;
        --hovered-primary-color: #6fb0dd;
        --default-secondary-color: #e4f4ff;
    }
    &.purple {
        --default-primary-color: #bc9de6;
        --hovered-primary-color: #a98dcf;
        --default-secondary-color: #f5e5ff;
    }
    &.yellow {
        --default-primary-color: #e9e671;
        --hovered-primary-color: #d2cf66;
        --default-secondary-color: #fefdde;
    }
    &.orange {
        --default-primary-color: #ffc993;
        --hovered-primary-color: #ffaf60;
        --default-secondary-color: #fff2e5;
    }
    &.red {
        --default-primary-color: #fca59e;
        --hovered-primary-color: #e3958e;
        --default-secondary-color: #ffe6e5;
    }
    &.done {
        --default-primary-color: #61e990;
        --hovered-primary-color: #50ce7c;
        --default-secondary-color: #e8fcef;
    }

    &.only-icon {
        justify-content: center;

        height: var(--height);
        width: var(--height);

        padding: 0;
    }
    &.only-text {
        padding: 0 6px;
    }

    & .badge__icon,
    & .badge__text {
        color: var(--default-primary-color);
    }

    &__icon {
        transition: color 0.2s ease;
    }
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;

        transition: color 0.2s ease;
    }
}