:host {
    --size: 16px;

    display: inline-flex;
}

.progress-ring {
    position: relative;

    width: var(--size);
    height: var(--size);

    &.high &__progress {
        stroke: var(--color-circle-indicator-high);
    }
    &.medium &__progress {
        stroke: var(--color-circle-indicator-medium);
    }
    &.low &__progress {
        stroke: var(--color-circle-indicator-low);
    }
    &.completed &__progress {
        stroke: var(--color-done);
    }
    &.completed &__check {
        opacity: 1;
    }

    &__icon {
        transform: rotate(-90deg);

        width: 100%;
        height: 100%;

        opacity: 1;

        transition: opacity 0.2s ease;
    }

    &__background {
        fill: none;
        stroke: var(--color-border);
        stroke-linecap: round;
    }

    &__progress {
        fill: none;
        stroke-linecap: round;
        stroke-dasharray: 37.7; // 2 * Ï€ * 6
        transition:
            stroke-dashoffset 0.2s ease,
            stroke 0.2s ease;
    }

    &__check {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity: 0;

        stroke: var(--color-done);

        transition: opacity 0.2s ease;
    }
}