<div [class]="['progress-ring', colorClass()]">
    <svg
        class="progress-ring__icon"
        viewBox="0 0 16 16"
        preserveAspectRatio="xMidYMid meet"
    >
        <!-- Фоновый круг -->
        <circle
            class="progress-ring__background"
            cx="8"
            cy="8"
            r="6"
            stroke-width="1"
        ></circle>
        <!-- Круг прогресса -->
        <circle
            class="progress-ring__progress"
            cx="8"
            cy="8"
            r="6"
            stroke-width="1"
            [attr.stroke-dashoffset]="dashOffset()"
        ></circle>
    </svg>
    <svg
        class="progress-ring__check"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M2.5 6L5 8.5L9.5 4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</div>