@use './assets/styles/fonts';

:root {
    --token-white: #ffffff;
    --token-light-1: #f8f8f9;
    --token-light-2: #e4e4e7;
    --token-light-3: #f4f4f6;
    --token-gray-1: #c9c9ca;
    --token-gray-2: #b6b6ba;
    --token-dark: #3f3f46;
    --token-black: #27272a;

    --token-green-1: #d9f9e4;
    --token-green-2: #9ed3b0;
    --token-green-3: #61e990;
    --token-green-4: #50ce7c;

    --token-yellow-1: #fefdde;
    --token-yellow-2: #e9e671;

    --token-blue-1: #e4f4ff;
    --token-blue-2: #7bc3f5;

    --token-purple-1: #f5e5ff;
    --token-purple-2: #bc9de6;

    --token-red-1: #ffe6e5;
    --token-red-2: #fca59e;
    --token-red-3: #f43f5e;

    --token-orange-1: #fff2e5;
    --token-orange-2: #ffc993;
    --token-orange-3: #f4ee3f;

    --border-style: 1px solid;

    --border-color: var(--token-light-2);
    --border-color-hover: var(--token-gray-2);
    --border-color-dark: var(--token-gray-2);

    --background: var(--token-light-1);

    --color-white: var(--token-white);
    --color-light: var(--token-gray-1);
    --color-light-hover: var(--token-gray-2);

    --color-dark: var(--token-dark);
    --color-dark-hover: var(--token-black);

    --done: var(--token-green-3);
    --done-dark: var(--token-green-4);

    --circle-indicator-high: var(--done);
    --circle-indicator-medium: var(--token-orange-3);
    --circle-indicator-low: var(--token-red-3);
    --circle-indicator-completed: var(--done);

	--shadow-width: 1px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 40px;

    font-family: 'Lato', serif;
}

.divider {
    width: 1px;
    height: 20px;

    background: var(--border-color);
}

.bordered-element {
    --widthWithoutShadow: calc(
        var(--width) - 2 * var(--shadow-width)
    );
    --heightWithoutShadow: calc(
        var(--height) - 2 * var(--shadow-width)
    );
    --shadow-color: var(--border-color);
    --shadow-color-hover: var(--border-color-hover);
    --shadow-default: 0 0 0 var(--shadow-width)
        var(--shadow-color);
    --shadow-hover: 0 0 0 var(--shadow-width)
        var(--shadow-color-hover);

    position: relative;

    height: var(--heightWithoutShadow);
    width: var(--widthWithoutShadow);

    box-shadow: var(--shadow-default);
    border-radius: var(--border-radius);

    user-select: none;
    transition: box-shadow 0.2s ease;

    &:not(.disable-hover-mode) {
        &::after {
            content: '';
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            box-shadow: var(--shadow-default);
            border-radius: var(--border-radius);

            opacity: 0;
            transition: opacity 0.2s ease, box-shadow 0.2s ease;
        }
    }

    &.disable-hover-mode {
        cursor: default;
    }

    &-hover:not(.disable-hover-mode) {
        &::after {
            box-shadow: var(--shadow-hover);
            opacity: 1;
        }
    }

    &.only-icon {
        justify-content: center;

        padding: 0;

        --width: var(--height);
    }
}

.app-modal__backdrop {
    background: rgba(63, 63, 70, 0.2);
}
