@use './assets/styles/fonts';

:root {
    --token-white: #ffffff;
    --token-light-1: #f8f8f9;
    --token-light-2: #e4e4e7;
    --token-light-3: #f4f4f6;
    --token-light-4: #f4f4f5;
    --token-gray-1: #c9c9ca;
    --token-gray-2: #b6b6ba;
    --token-dark: #3f3f46;
    --token-black: #27272a;

    --token-green-1: #d9f9e4;
    --token-green-2: #9ed3b0;
    --token-green-3: #61e990;
    --token-green-4: #50ce7c;

    --token-yellow-1: #fefdde;
    --token-yellow-2: #e9e671;

    --token-blue-1: #e4f4ff;
    --token-blue-2: #7bc3f5;

    --token-purple-1: #f5e5ff;
    --token-purple-2: #bc9de6;

    --token-red-1: #ffe6e5;
    --token-red-2: #fca59e;
    --token-red-3: #f43f5e;

    --token-orange-1: #fff2e5;
    --token-orange-2: #ffc993;
    --token-orange-3: #f4ee3f;

    --color-border: var(--token-light-2);
    --color-border-hover: var(--token-gray-2);
    --color-border-dark: var(--token-gray-2);

    --color-background: var(--token-light-1);
    --color-background-hover: var(--token-light-4);

    --color-white: var(--token-white);
    --color-light: var(--token-gray-1);
    --color-light-hover: var(--token-gray-2);

    --color-dark: var(--token-dark);
    --color-dark-hover: var(--token-black);

    --color-done: var(--token-green-3);
    --color-done-dark: var(--token-green-4);

    --color-circle-indicator-high: var(--token-green-3);
    --color-circle-indicator-medium: var(--token-orange-3);
    --color-circle-indicator-low: var(--token-red-3);

    --border-width: 1px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 40px;

    font-family: 'Lato', serif;
}
