name: Deploy Angular Planner

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        ref: dev
    
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    
    - run: npm ci
    
    - run: npm run build --prod --base-href="/angular_planner/"
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist/my-app
        publish_branch: gh-pages